{% extends 'base_ac.html' %}
{% load staticfiles %}
{% block main %}

<h1 class="page-title">About me</h1>
<article class="post">
	<div class="entry-content clearfix">
		<p></p>
		<p></p>
		<div class="height-40px"></div>
		
		<figure class="img-responsive-center">
			<img class="img-responsive" src="{% static 'blog/img/batman_logo.gif' %}" alt="Developer Image">
		</figure>
		
		<h2 class="title text-center">Social</h2>
		<ul class="social">
			<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
			<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
			<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
			<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
		</ul>
	</div>
</article>
	
{% endblock main %}
